<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>393297175099-pvih2q8lnb1gc82is2mn4hlvt0e1aaj7.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.393297175099-pvih2q8lnb1gc82is2mn4hlvt0e1aaj7</string>
        <key>API_KEY</key>
        <string>AIzaSyBEMG1GX0TAD_0gdOAVbBvceznRTp_z4xY</string>
        <key>GCM_SENDER_ID</key>
        <string>393297175099</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.mintedimages.realsmart</string>
        <key>PROJECT_ID</key>
        <string>productionrealtransfer</string>
        <key>STORAGE_BUCKET</key>
        <string>productionrealtransfer.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true/>
        <key>IS_ANALYTICS_ENABLED</key>
        <false/>
        <key>IS_APPINVITE_ENABLED</key>
        <false/>
        <key>IS_GCM_ENABLED</key>
        <true/>
        <key>IS_SIGNIN_ENABLED</key>
        <true/>
        <key>GOOGLE_APP_ID</key>
        <string>1:393297175099:ios:0b4647eeab7f0460</string>
        <key>DATABASE_URL</key>
        <string>https://productionrealtransfer.firebaseio.com</string>
    </dict>
</plist>